body {
	background-color: black;
	font-family: Helvetica, Arial, sans-serif;
}

 a {
 	text-decoration: none; 
 	color: orange;
 	text-align: right;
 }

 h2,h3 {
 	margin: 0;
 	color: black;
 }


#container {
	background-color: #999999;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

#links {
	/*background-color: brown;*/
	/*text-align: right;*/
}

#header {
	padding: 10px;
	/*#66CCFF*/
	background-color: #154360;
	color: #66CCFF;
	text-align: center;
}


#content {
	padding: 10px 10px 10px 10px;
	width:980px
}

/*#header .selected*/
.selected {
	font-weight: bold;
	color: red
}
#profile {
	width:300px;
	/*background-color: grey;*/
	color: black;
	float: left;
}

#questions {
	width: 680px;
	/*background-color: grey;*/
	color: black;
	float:right;
}

ul {
	padding: none;
}
#footer {
	clear: both;
	padding: 10px;
	background-color: #154360;
	color: red;
	text-align: right;
	width: 760px;
}