

body {
	/*font-family: Arial, Helvetica, sans-seriff;
	font-size: 15px;
	line-height: 1.5; same as*/
	font: 15px/1.5 Arial,Helvetica, sans-seriff;
	padding: 0;
	margin: 0;
<<<<<<< HEAD
	background:  #a1d3b0;
	/* background-color: #f4f4f4;
	background: -webkit-linear-gradient( to right, #a1d3b0, #f6f1d3);
	background: -moz-linear-gradient( to right, #a1d3b0, #f6f1d3);
	background: linear-gradient( to right, #a1d3b0, #f6f1d3); */
=======
	background-color: #f4f4f4;
	background: -webkit-linear-gradient( to right, #a1d3b0, #f6f1d3);
	background: -moz-linear-gradient( to right, #a1d3b0, #f6f1d3);
	background: linear-gradient( to right, #a1d3b0, #f6f1d3);
>>>>>>> Challenge-4
	font-family: "Simplifica";
	font-size: 20px;

}

@font-face {
    font-family: 'Simplifica';
    src:url('../fonts/Simplifica.ttf.woff') format('woff'),
        url('../fonts/Simplifica.ttf.svg#Simplifica') format('svg'),
        url('../fonts/Simplifica.ttf.eot'),
        url('../fonts/Simplifica.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/*Global*/
.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

ul{
 	padding: 0;
 	margin: 0;

 }

.button_1{
	height: 30px;
	margin:auto;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	background: #e8491d;
	border-radius: 15px;
	border-color:#35424a; 
}


/*Header*/
header {
	background-color: #1c1c1c;
	/* background:url("../img/img2.jpg") no-repeat; */
	color: #f4f4f4;
	/*color:orange;*/
	font-size: 20px;
	padding-top:30px;
	padding-bottom: 0;
	min-height: 70px;
	/* border-bottom: black 1px solid; */
}


header #hr{
	/* border-bottom: #e8491d 5px solid; */
	margin-bottom: 0;
	padding: 0;
}

header a{
 	color: rgb(68, 182, 106); 
 	text-decoration:none; 
 	text-transform: uppercase; 
 	font-size: 25px;
 }

header li{
 	float: left;
 	display: inline;
 	padding:0 20px 0 20px;
 }

header #branding{
	float: left;
}
header #branding a{
	text-decoration: none;
	text-transform: none;
	font-size: 35px;
}

header #branding h1{
	margin:0;
}

header nav{
	padding-top: 30px;
	float:right;
	margin-top: 10px;
	margin-bottom: 0;
}

header .highlight, header .current a{
	color:#e8491d; 
	font-weight:bold;
}

header a:hover{
	color: #CCCCCC;
	font-weight:bold;
}


#register{
	background:/*url("../img/kybrd.jpeg")*/#1c1d1c;
	background: -webkit-linear-gradient( #572e03, #1c1d1c);
	background: -moz-linear-gradient( #572e03, #1c1d1c); /*#a79c0a*/
	background: linear-gradient( #572e03, #1c1d1c);

	border-radius: 8px;
	/*border: #35424a 4px solid;*/
	margin-left:20%;
	margin-right: 20%;
	padding-top: 20px;
	padding-bottom : 10px;
	width :60%;

}


h3{
	color:#f4f4f4;
}
/*
#register .box{
	
	background:url("../img/015.jpg") no-repeat ;
	border: #35424a 4px solid;
}
*/
#register h2{
	margin-top: 20px;
	color: rgb(68, 182, 106);
	font-weight: bold;
	text-decoration:none; 
	font-size:35px;
}

#register a{
	color: #e8491d;
}

#register form{
	min-height: 200px;

}

#register form h3{
	margin-bottom:0;
	color: rgb(68, 182, 106);
}

#register form input{
 	min-height:30px;
 	padding:3px ;
	width: 90%;
	border-radius: 8px;
 	/*border: #e8491d 2px solid;*/
}

 #register #signUp a {
	text-decoration: none;
	border-radius: 15px;
	border-top: 2px solid #35424a;
	border-left: 2px solid #35424a;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	color: rgb(68, 182, 106);
	padding: 1.5%;
	background-color: #1c1c1c;
}

/*footer */
footer{ 
	clear: both;
	margin-bottom: 0;
	width: 100%;
	background-color: #1c1c1c;
	/* background:url("../img/img2.jpg") no-repeat; */
	/* border-top: black  4px solid; */
	text-decoration: none;
}

footer p{
	padding:10px;
	margin:0;
	color: rgb(68, 182, 106);
	text-align: center;
	
}