
{% extends 'layout.html' %}

{% block content %}
<section id="content">
	<section id="showcase">
		<div class="container"> 
			<strong align="center"><h2>Recent questions</h2></strong>
			<hr style="height:2px;background-color:gray"/>
			{% for item in questions %}
			<p>User no. {{questions[questions.index(item)]['questionId']}} asked:<br />
				Topic: {{questions[questions.index(item)]['topic']}}<br /><hr />
				{{questions[questions.index(item)]['body']}}
				<hr style="height:2px;background-color:rgb(33, 70, 87);"/> 
			</p>
			{% endfor %}
		</div>
</section>

<aside id="question">
	<div class="box" style="background-image:url({{url_for('static', filename="kybrd.jpeg")}});">
	<div class="container">
			<h2>Ask Question</h2>
			<!--form action="{{ url_for('get_questions') }}" method="POST"-->
				<p>
					<span style="color: #ffffff; font-weight: bold;">{{form.topic.label}}</span><br />
					{{form.topic(size=32)}}<br />
					{% for error in form.topic.errors %}
					<span style="color: rgb(214, 234, 243);"><b>[{{error}}]</b></span>
					{% endfor %}
				</p>
				<p>
					<span style="color: #ffffff; font-weight: bold">{{form.body.label}}</span><br />
					{{form.body}}<br />
					{% for error in form.topic.errors %} 
					<span style="color:rgb(214, 234, 243)"><b>[{{error}}]</b></span>
					{% endfor %}
				</P>
				<button type="submit" class="button_1">Post Question</button>
				
			</form>
		</div>	
	</div>
	
</aside>
{% endblock %}
		